<div class="card">
  <div class="card-body">
    <h2 class="card-title text-center">Cuaca Saat Ini</h2>
    <form (ngSubmit)="getWeather()" class="mb-3">
      <div class="input-group">
        <input
          [(ngModel)]="city"
          name="city"
          type="text"
          class="form-control"
          placeholder="Masukkan nama kota"
          required
        />
        <div class="input-group-append">
          <button type="submit" class="btn btn-primary">Lihat Cuaca</button>
        </div>
      </div>
    </form>
  </div>

  <div *ngIf="errorMessage" class="alert alert-danger">
    {{ errorMessage }}
  </div>

  <div *ngIf="weatherData" class="text-center">
    <h2>Cuaca di {{ weatherData.location.name }}</h2>
    <p>Suhu: {{ weatherData.current.temp_c }}°C</p>
    <p>Kondisi: {{ weatherData.current.condition.text }}</p>
  </div>
</div>
